<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <add name="consoleListener"
           type="System.Diagnostics.ConsoleTraceListener">
        <!-- Never write verbose messages to the console. -->
        <filter initializeData="Information"
                type="System.Diagnostics.EventTypeFilter"/>
      </add>
    </sharedListeners>

    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="consoleListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>