<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Need both database connections because this executable comprises a gateway and the back end; they converse via the database. -->

    <!-- For SQL2014 and above-->
    <add name="WorkflowServiceResourceManagementConnectionString"
         connectionString="Data Source=(localDB)\MSSQLLocalDB;Initial Catalog=WFResourceManagementDB;Integrated Security=True;Asynchronous Processing=True;Connect Timeout=30"/>
    <add name="WorkflowServiceInstanceManagementConnectionString"
         connectionString="Data Source=(localDB)\MSSQLLocalDB;Initial Catalog=WFInstanceManagementDB;Integrated Security=True;Asynchronous Processing=True;Connect Timeout=30"/>

    <!-- For SQL2012-->
    <add name="WorkflowServiceResourceManagementConnectionStringSQL2012"
         connectionString="Data Source=(localDB)\v11.0;Initial Catalog=WFResourceManagementDB;Integrated Security=True;Asynchronous Processing=True;Connect Timeout=30"/>
    <add name="WorkflowServiceInstanceManagementConnectionStringSQL2012"
         connectionString="Data Source=(localDB)\v11.0;Initial Catalog=WFInstanceManagementDB;Integrated Security=True;Asynchronous Processing=True;Connect Timeout=30"/>

    <!-- -alternateConfiguration command-line option switches to following set of connection strings. -->
    <add name="WorkflowServiceAlternateResourceManagementConnectionString" connectionString=""/>
    <add name="WorkflowServiceAlternateInstanceManagementConnectionString" connectionString=""/>
  </connectionStrings>
  
  <runtime>
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.Services.Client" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ServiceModel" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.Linq" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="mscorlib" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel" publicKeyToken="b77a5c561934e089" Culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration.Install" publicKeyToken="b03f5f7f11d50a3a" Culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ServiceModel.Web" publicKeyToken="31bf3856ad364e35" Culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" Culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization" publicKeyToken="b77a5c561934e089" Culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <probing privatePath="Artifacts;WFWebRoot\bin"/>
    </assemblyBinding>
    <AppContextSwitchOverrides value="Switch.System.Activities.UseMD5ForWFDebugger=false" />
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.diagnostics>
    <sources>
      <!-- WF Tracing; if needed, enable text shared listener and include that in trace listener. -->
      <!--source name="Microsoft.Activities"
              switchValue="Information">
        <listeners>
          <add name="text"/>
        </listeners>
      </source-->
    </sources>

    <!-- Trace files will be Microsoft.Workflow.TestServiceHost.log/.svclog -->
    <sharedListeners>
      <add name="consoleListener"
           type="System.Diagnostics.ConsoleTraceListener">
        <!-- Never write informational messages to the console. -->
        <filter initializeData="Warning"
                type="System.Diagnostics.EventTypeFilter"/>
      </add>
      <!--add name="text"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="Microsoft.Workflow.TestServiceHost.log"
           traceOutputOptions="ProcessId, DateTime"/-->
    </sharedListeners>
    
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!-- WriteLine activitiy is currently redirected to Trace; bring it back to Console. -->
        <add name="consoleListener"/>
        <!--add name="text"/-->
      </listeners>
    </trace>
  </system.diagnostics>

  <system.serviceModel>
    <diagnostics>
      <!-- This amount of message logging is not recommended for production use. -->
      <messageLogging maxMessagesToLog="30000"
                      maxSizeOfMessageToLog="524288"
                      logEntireMessage="true"
                      logMalformedMessages="true"
                      logMessagesAtServiceLevel="true"
                      logMessagesAtTransportLevel="true"/>
    </diagnostics>
  </system.serviceModel>
  <uri>
    <idn enabled="All"/>
  </uri>
</configuration>